In [4]:
# Take input from the user and check whether there is a vowel in that string or not using a loop.
s = input("Enter any text").lower()
for i in s:
    if i == "a" or i == "e" or i == "i" or i == "o" or i == "u":
        print("Vowel present in this string")
        break
else:
    print("Not present")

Enter any text abhishek

present vowel in this string

In [5]:
s = input("Enter any text").lower()
for i in s:
    if i in "aeiouAEIOU":
        print(" Vowel present in this string")
        break
else:
    print("Not present")

Enter any text Abhi

present vowel in this string

In [19]:
# take a range from user input and tell that which number is multiple of 3 and 5
n = int(input("Enter any number: "))
for i in range (1,n+1):
    if i % 3 == 0 and i % 5 == 0:
        print("Multiplication of 3 and 5")
    else:
        print(i)

Enter any number:  20

1
2
3
4
5
6
7
8
9
10
11
12
13
14
Multiplication of 3 and 5
16
17
18
19
20

In [17]:
a = 0
for i in range(1,6):
    a = a + i
print(a)

15

In [25]:
# find the sum of all the even digits from 1 to 20
a = 0
for i in range(1,21):
    if i % 2 == 0:
        a = a+i
print(a)

110

In [26]:
a = 0 # this a is flag variable
for i in range(1,21):
    if i % 2 == 0:
        a = a+i
print(a)

110

In [2]:
a = "vishal"
for i in a:
    print(i)
print(i)

v
i
s
h
a
l
l

In [3]:
a = "vishal"
c = 0
for i in a:
    if i in "aeiouAEIOU":
        c = c + 1
print(c)

2

In [34]:
# count the number of a in my given string
s = "abababababababababababa"
a = 0
for i in s:
    if i == "a":
        a = a+1
print(a)

12

In [35]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [39]:
s = "cat12dog34@"
a = 0
b = 0
for i in s:
    if i.isalpha():
        a = a+1
    elif i.isnumeric():
        b = b+1
print(a)
print(b)

6
4

In [40]:
a = "abhishek"
for i in a:
    if i in "aeiouAEIOU":
        print(i, end ="")

aie

In [8]:
# Find out the duplicate characters in a string
s="hello world"
a=""
for i in s:
    if i in a:
        print(i," is duplicate character")
    a = a+i

l  is duplicate character
o  is duplicate character
l  is duplicate character

In [15]:
# using for loop create a pattern like
# 1
# 12
# 123
# 1234
# 12345
for i in range(1,6):
    for j in range(1,i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [16]:
a = ""
for i in range(1,6):
    a = a+str(i)
    print(a)

1
12
123
1234
12345

In [25]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [26]:
a = "vishal"
a[::-1]

'lahsiv'

In [37]:
s = "Himanshu"
a = ""
for i in s:
    a = i+a
print(a)

uhsnamiH

In [1]:
s = "Himanshu"
a = ""
b = 0
for i in s:
    a = i+a
    b=b+1
    print(a, "is iteration", b)
print(a, "is final Output, and iteration is",b)

H is iteration 1
iH is iteration 2
miH is iteration 3
amiH is iteration 4
namiH is iteration 5
snamiH is iteration 6
hsnamiH is iteration 7
uhsnamiH is iteration 8
uhsnamiH is final Output, and iteration is 8

In [42]:
for i in range(1,5):
    for j in range(1,i+1):
        print("*", end = " ")
    print()
for i in range(4,0,-1):
    for k in range(0,i-1):
        print("*",end = " ")
    print()

*
* *
* * *
* * * *
* * *
* *
*

In [43]:
for i in range(1,5):
    print(i*"*")
for i in range(3,0,-1):
    print(i*"*")

*
**
***
****
***
**
*

In [45]:
# Nested for loop
a = "abc"
output:"aaabbbccc"

for i in a:
    for j in i:
        print(j*3,end="")

aaabbbccc

In [49]:
l = [[1,2],[3,4],[5,6]]
for i in l:
    for j in i:
        print(j)

1
2
3
4
5
6

In [50]:
for i in range(1,6): # rows
    for j in range(1,i+1): # columns
        print(j, end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [52]:
# You have been given a number in a string
# input = 123
# output = 6
a = "123"
s = 0
for i in a:
    s = s + int(i)
print(s)

6

In [53]:
a = 123
s = 0
for i in str(a):
    s = s+int(i)
print(s)

6

In [54]:
a = 123
s = 0
for i in range(0,len(str(a))):
    s = a%10+s
    a = a//10
print(s)

6

In [14]:
# Take user input and replace all the vowels with "x"
s = input("Enter Something: ")
a = ""
for i in s:
    if i in "aeiouAEIOU":
        a+="x"
    else:
        a += i
print("string is:", a)

Enter Something:  abhishek

string is: xbhxshxk

In [13]:
text = input("Enter text: ")
flag = ""
for i in text:
    if i in "aeiouAEIOU":
        flag += "x"
    else:
        flag += i
print(flag)

Enter text:  abhishek

xbhxshxk

In [1]:
# while loop
n = 1
while n < 11:
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9
10

In [1]:
a = int(input("Enter any number of tables you want: "))
n = 1
while n<=10:
    print(a,"*",n,"=",n*a)
    n+=1

Enter any number of tables you want:  2223

2223 * 1 = 2223
2223 * 2 = 4446
2223 * 3 = 6669
2223 * 4 = 8892
2223 * 5 = 11115
2223 * 6 = 13338
2223 * 7 = 15561
2223 * 8 = 17784
2223 * 9 = 20007
2223 * 10 = 22230

In [2]:
# all programs of for loop, complete with while loop 
n = 1
while n<11:
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9
10

In [3]:
# print all even number 1 to 20
n = 1
while n < 21:
    if n % 2 == 0:
        print(n)
    n+=1

2
4
6
8
10
12
14
16
18
20

In [4]:
# print the sum of all the even numbers from 1 to 20
n = 1
s = 0
while n <= 20:
    if n % 2 == 0:
        s+=n
    n+=1
print(s)

110

In [5]:
a = "vishal"
for i in a :
    print(i)

v
i
s
h
a
l

In [6]:
s = "Hello, Python!"
n = 0

while n < len(s):
    print(s[n])
    n += 1

H
e
l
l
o
,

P
y
t
h
o
n
!

In [2]:
# Write a program to check is a palindrome or not using a while loop using user input
a = input("Enter a string: ").lower()
n=""
b = 0
while b < len(a):
    n=a[b]+n
    b=b+1
if a == n:
    print("Palindrome")
else:
    print("Not Palindrome")

Enter a string:  121

Palindrome

In [9]:
# sum the all the numbers from string a using while loop
a = "a1b2c3"
i = 0
n = 0
while i<len(a):
    if a[i].isdigit():
        n += int(a[i])
    i+=1
print("Sum of digits: ",n)

Sum of digits:  6

In [8]:
# sum of all the even number and all the odd number between 1 to 100 using while loop.
n=1
b = 0
c = 0
while n <= 101:
    if n % 2 == 0:
        b += n
    else:
        c += n
    n+=1
print(b)
print(c)

2550
2601

In [9]:
# Tuple
a = (1 , 2 , 2 , 5 , 5)
a

(1, 2, 2, 5, 5)

In [10]:
type(a)

tuple

In [ ]:
# in tuple, it allows hetrogeneous type which means it store different data type values.
# tuple allows duplicate values 
# n

In [12]:
a = (1,2,3,4,5)
b = 0
for i in a:
    if isinstance(i,int):
        b+=i
print(b)

15

In [14]:
# sum of a tuple 
a = (1,2,3,4,(5,6),7,(8,9),10)
b = 0
for i in a:
    if isinstance(i,tuple):
        b+=sum(i)
    else:
        b+=i
print(b)

55

In [15]:
# List
a = [1,2,5,6,8]
b = [2,5,7,1,5,8]
a+b

[1, 2, 5, 6, 8, 2, 5, 7, 1, 5, 8]

In [16]:
c = ["a",2,5,True]
print(c)

['a', 2, 5, True]

In [17]:
c.append(45)
c

['a', 2, 5, True, 45]

In [18]:
c.clear()

In [19]:
c

[]

In [20]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [21]:
l = [1,2,3,4,5,6,6,7,8,9,10]

In [24]:
l.copy()

[1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10]

In [25]:
l.count(6)

2

In [44]:
l.extend((2,3))
l

[1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 2, 3, 2, 3]

In [39]:
l.index(7)

7

In [54]:
l.append((2,3))
l

[1, 'z', 3, 4, 5, 6, 7, 8, 9, 3, 2, 3, (2, 3), (2, 3), (2, 3), (2, 3)]

In [55]:
l.pop(4)

5

In [50]:
l

[1, 2, 'z', 3, 4, 5, 6, 6, 7, 8, 9, 2, 3, 2, 3, (2, 3), (2, 3), (2, 3)]

In [53]:
l.remove(6)
l

[1, 'z', 3, 4, 5, 6, 7, 8, 9, 3, 2, 3, (2, 3), (2, 3), (2, 3)]

In [47]:
l.insert(2,"z")

In [48]:
l

[1, 2, 'z', 3, 4, 5, 6, 6, 7, 8, 9, 2, 3, 2, 3, (2, 3), (2, 3)]

In [56]:
# difference between Deep copy and shallow copy 
c = l.copy()
c

[1, 'z', 3, 4, 6, 7, 8, 9, 3, 2, 3, (2, 3), (2, 3), (2, 3), (2, 3)]

In [61]:
l.reverse()
l

[(2, 3), (2, 3), (2, 3), (2, 3), 3, 2, 3, 9, 8, 7, 6, 4, 3, 'z', 1]

In [63]:
l.sort()
l

TypeError: '<' not supported between instances of 'int' and 'tuple'

In [68]:
# create a list with squares of the elements using loop and functions of list
d = [1,2,3,4,5]
e = [0]
for i in d:
    e = i**2
    print(e,end=" ")

1 4 9 16 25

In [69]:
d = [1,2,3,4,5]
a = []
for i in d:
    a.append(i**2)
a

[1, 4, 9, 16, 25]

In [80]:
l = [1,2,3,4,5,6,7,8,9,10,11,12]
# seperate this list iinto two list one contains only even numbers another contains all the odd numbers
a = []
b = []
for i in l:
    if i % 2 == 0:
        a.append(i)
    else:
        b.append(i)
print(a)
print(b)

[2, 4, 6, 8, 10, 12]
[1, 3, 5, 7, 9, 11]

In [85]:
# 
# input l = [[1,2,3],4,5,[7,8,9]]
# output l = [1,2,3,4,5,6,7,8,9]

l = [[1,2,3], 4, 5, [7,8,9]]
flag = []

for i in l:
    if isinstance(i, list):
        flag.extend(i)
    else:
        flag.append(i)

print(flag)

[1, 2, 3, 4, 5, 7, 8, 9]

In [84]:
l = [[1,2,3], 4, 5, [7,8,9]]
a = []

for i in l:
    if type(i) == list:
        a = a+i
    else:
        a.append(i)

print(a)

[1, 2, 3, 4, 5, 7, 8, 9]

In [86]:
# input  a = ["Apple","Banana","Orange","Pineapple"]
# output a = ["Apple",5,"Banana",6,"Orange",6,"Pineapple",9]
# using for loop
a = ["Apple", "Banana", "Orange", "Pineapple"]
b = []

for i in a:
    b.append(i)
    b.append(len(i))

print(b)

['Apple', 5, 'Banana', 6, 'Orange', 6, 'Pineapple', 9]

In [93]:
a = ["Apple", "Banana", "Orange", "Pineapple"]
b = []
i = 0
while i < len(a):
    b.append(a[i])
    b.append(len(a[i]))
    i+=1
print(b)

['Apple', 5, 'Banana', 6, 'Orange', 6, 'Pineapple', 9]

In [94]:
c = 0
d = []
for i in a:
    c = len(i)
    d.extend([i,c])
print(d)

['Apple', 5, 'Banana', 6, 'Orange', 6, 'Pineapple', 9]

In [95]:
c = 0
d = []
while c < len(a):
    d.append(a[c])
    d.append(len(a[c]))
    c+=1
print(d)

['Apple', 5, 'Banana', 6, 'Orange', 6, 'Pineapple', 9]

In [97]:
# remove all vowels in list a
a = ["Apple", "Banana", "Orange", "Pineapple"]
b = []
for i in a:
    w = ""
    for j in i:
        if j not in "aeiouAEIOU":
            w = w+j
    b.append(w)
print(b)

['ppl', 'Bnn', 'rng', 'Pnppl']

In [98]:
# remove all duplicates
a = [1,2,3,4,"a","b",15,17,"a",3,5,4]
b = []
for i in a :
    if i not in b:
        b.append(i)
b

[1, 2, 3, 4, 'a', 'b', 15, 17, 5]

In [5]:
# l1 = [1,3,5,6,2,7,8]
# l2 = [3,5,7,9,11,13,1]
# Find the common elements of both lists

l1 = [1, 3, 5, 6, 2, 7, 8]
l2 = [3, 5, 7, 9, 11, 13, 1]

common = []

for item in l1:
    if item in l2:
        common.append(item)

print("Common elements:", common)

Common elements: [1, 3, 5, 7]

In [6]:
# input l = ["teacher","python","your","am","i"]
# output = ["I am your python teacher"]

l = ["teacher","python","your","am","i"]
a = ""
for i in l:
    a = i + a
    a = " " + a
print(a)

 i am your python teacher

In [10]:
# Find the maximum length word from the list
# l = ["hello","nice","rat","mississippi","banana"]
# ans = 11 mississippi
l = ["hello","nice","rat","mississippi","banana"]
a = 0
b = ""
for i in l:
    if len(i) > a:
        a = len(i)
        b = i
print(a,b)

11 mississippi

In [21]:
# take user input of words and  create a string based on words whose length is more than 4
s = input("Enter any word").split()
a = ""
for i in s:
    if len(i) > 4:
        a =a + i + " " 
print(a)

Enter any word i love my india

india

In [22]:
# list comprehension
l = [1,2,5,4,3,6]
l = [i**2 for i in l]
l

[1, 4, 25, 16, 9, 36]

In [23]:
b = [i for i in l if i % 2 == 0]
b

[4, 16, 36]

In [26]:
c = ["even" if i % 2 == 0 else "odd" for i in l]
c

['odd', 'even', 'odd', 'even', 'odd', 'even']

In [28]:
l =[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
d = [i for i in l if i > 12 and i%2 == 0]
d

[14, 16]

In [31]:
# create reversed list using list comprehension
l = ["nice","to","meet","you"]
e = [i for i in l[::-1]]
e

['you', 'meet', 'to', 'nice']

In [7]:
# common element between two list
a1 = [1,2,3,4,5]
a2 = [2,4,6,8,10]
s = [i for i in a1 if i in a2]
s

[2, 4]

In [47]:
# reverse each word of the list
a= ["apple","banana","orange","grapes"]
d = [i[::-1] for i in a]
d

['elppa', 'ananab', 'egnaro', 'separg']

In [48]:
# find the palindrome words
p= ["car","racecar","madam","hello","nitin"]
z= [i for i in p if i==i[::-1]]
z

['racecar', 'madam', 'nitin']

In [ ]:
# difference between shallow copy and deep copy 
# Shallow copy is the copy where memory is not assigned to another memory, means if we want change

In [1]:
a = [1,2,3,4,5,6,100]
output = [100,2,3,4,5,6,1]
a[0], a[-1] = a[-1], a[0]
print(a)

[100, 2, 3, 4, 5, 6, 1]

In [3]:
# dictionary
d = {}
type(d)
d

{}

In [4]:
d = {"name":"abhi"}
d

{'name': 'abhi'}

In [5]:
d = {"a":10,
     "b":12}
d

{'a': 10, 'b': 12}

In [6]:
k = {10:"a"}
k

{10: 'a'}

In [8]:
# here 10 is  a key and a is value
# In dict, not allow duplicate keys

d = {"a":12,
     "b":15,
     "a":63}
d

{'a': 63, 'b': 15}

In [10]:
d = {"a":[12,15,17,11],
     "b":[6,8,3,2]}
d

{'a': [12, 15, 17, 11], 'b': [6, 8, 3, 2]}

In [17]:
d1 = {"a":10,
      "b":15}
d2 = {"c":12,
      "d":11}
print(d1)
print(d2)

{'a': 10, 'b': 15}
{'c': 12, 'd': 11}

In [20]:
# Update value in dict
d1["b"]=20
d1

{'a': 10, 'b': 20}

In [21]:
# insert 
d1["c"]=11
d1

{'a': 10, 'b': 20, 'c': 11}

In [23]:
k[10]
k

{10: 'a'}

In [24]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [26]:
for i in d1:
    print(i,d1[i])

a 10
b 20
c 11

In [57]:
d3 = {"a":[2,3,5,4],
      "b":[8,9,7,6],
      "c":[10,12,16,13],
      "d":[15,17,18,19]
     }
d3

{'a': [2, 3, 5, 4],
 'b': [8, 9, 7, 6],
 'c': [10, 12, 16, 13],
 'd': [15, 17, 18, 19]}

In [56]:
d3.copy()
d3

{'b': [8, 9, 7, 6], 'c': [10, 12, 16, 13]}

In [45]:
b=d3.pop("a")

In [42]:
d3

{'b': [8, 9, 7, 6], 'c': [10, 12, 16, 13], 'd': [15, 17, 18, 19]}

In [46]:
b

[2, 3, 5, 4]

In [47]:
d3

{'b': [8, 9, 7, 6], 'c': [10, 12, 16, 13], 'd': [15, 17, 18, 19]}

In [48]:
d3.values()

dict_values([[8, 9, 7, 6], [10, 12, 16, 13], [15, 17, 18, 19]])

In [49]:
d3.popitem()

('d', [15, 17, 18, 19])

In [50]:
d3

{'b': [8, 9, 7, 6], 'c': [10, 12, 16, 13]}

In [53]:
d3.setdefault("b")

[8, 9, 7, 6]

In [54]:
d3

{'b': [8, 9, 7, 6], 'c': [10, 12, 16, 13]}

In [58]:
d3.update(d1)
d3

{'a': 10, 'b': 20, 'c': 11, 'd': [15, 17, 18, 19]}

In [59]:
# from keys

a = ["a","b","c"]
d = dict.fromkeys(a,55)
d

{'a': 55, 'b': 55, 'c': 55}

In [60]:
d3

{'a': 10, 'b': 20, 'c': 11, 'd': [15, 17, 18, 19]}

In [61]:
d3 = {"a":[2,3,5,4],
      "b":[8,9,7,6],
      "c":[10,12,16,13],
      "d":[15,17,18,19]
     }
d3

{'a': [2, 3, 5, 4],
 'b': [8, 9, 7, 6],
 'c': [10, 12, 16, 13],
 'd': [15, 17, 18, 19]}

In [71]:
m={}
for i in d3:
    print(i,sum(d3[i]))
    m.setdefault(i,sum(d3[i]))
m

a 14
b 30
c 51
d 69
e 12
f 16

{'a': 14, 'b': 30, 'c': 51, 'd': 69, 'e': 12, 'f': 16}

In [70]:
d3["e"]=[12]
d3["f"]=[16]
d3

{'a': [2, 3, 5, 4],
 'b': [8, 9, 7, 6],
 'c': [10, 12, 16, 13],
 'd': [15, 17, 18, 19],
 'e': [12],
 'f': [16]}

In [ ]:
s = ["apple","car","samsung","Bike"]
# convert it in dict and apple is a key and car is a value, and samsug key and bike a value
d

In [3]:
# create a five-element dict using user input
a = {}
for i in range(1,6):
    key = input("Enter Keys here: ")
    value = int(input("Enter value here: "))
    a[key]=value
print(a)

Enter Keys here:  a1
Enter value here:  10
Enter Keys here:  a2
Enter value here:  20
Enter Keys here:  a3
Enter value here:  30
Enter Keys here:  a4
Enter value here:  40
Enter Keys here:  a5
Enter value here:  50

{'a1': '10', 'a2': '20', 'a3': '30', 'a4': '40', 'a5': '50'}

In [9]:
# create a student dict having 6 subjects and marks, and retrieve only subjects which are having more than 75 marks.
student = {}
for i in range(1,7):
    subject = input("Enter the subject: ")
    value = int(input("Enter the value of subject: "))
    if value >= 75:
        student[subject]=value
print(student)

Enter the subject:  a1
Enter the value of subject:  50
Enter the subject:  a2
Enter the value of subject:  66
Enter the subject:  a3
Enter the value of subject:  78
Enter the subject:  a4
Enter the value of subject:  87
Enter the subject:  a5
Enter the value of subject:  98
Enter the subject:  a6
Enter the value of subject:  96

{'a3': 78, 'a4': 87, 'a5': 98, 'a6': 96}

In [12]:
l1 = ["a","b","c","d","e","f","g"]
l2 = [1,2,3,4,5,6,7]
# even values
# ans = {"b":2,"d":4,"f":6}
result = {}
a={}
for i in l2:
    if i%2==0:

TypeError: unhashable type: 'list'

In [13]:
# concatenate 3 dict
d1 = {"A":1,"B":2,"C":3}
d2 = {"a":4,"b":5,"c":6}
d3 = {"Aa":7,"Bb":8,"Cc":9}

d1.update(d2)
d1.update(d3)
print(d1)

{'A': 1, 'B': 2, 'C': 3, 'a': 4, 'b': 5, 'c': 6, 'Aa': 7, 'Bb': 8, 'Cc': 9}

In [15]:
for i,j in d1.items():
    print(i,j)

A 1
B 2
C 3
a 4
b 5
c 6
Aa 7
Bb 8
Cc 9

In [22]:
# get maximum and minimum values from dict
d1
a = max(d1.values())
b = min(d1.values())
for i,j in d1.items():
    if j == a:
        print(f"Maximum value is {i,j}")
    if j == b:
        print(f"Minimum value is {i,j}")

Minimum value is ('A', 1)
Maximum value is ('Cc', 9)

In [14]:
# create a dictionary using a loop with keys 1 to 10 and values are the square of their keys
d = {}
for i in range(1,11):
    d[i] = i**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [18]:
# get maximum and minimum values from dict
d = {}
for i in range(1,6):
    keys = input("Enter keys here: ")
    values = int(input("Enter values here: "))
    d[keys]=value
print(d)
for i in d:

Enter keys here:  a1
Enter values here:  45
Enter keys here:  a2
Enter values here:  44
Enter keys here:  a3
Enter values here:  58
Enter keys here:  a4
Enter values here:  59
Enter keys here:  a5
Enter values here:  52

{'a1': 96, 'a2': 96, 'a3': 96, 'a4': 96, 'a5': 96}
a 1
a 2
a 3
a 4
a 5

In [25]:
# Sets
s1 = {1,2,3}
s2 = {1,5,3}

print(s1&s2) # intersection
print(s1|s2) # union
print(s1-s2) # difference
print(s1^s2) # symmetric difference

{1, 3}
{1, 2, 3, 5}
{2}
{2, 5}

In [ ]:
# subset -: make many sets from one set, like-
# s =s{1,2,3,4,5}  # superset
# s = {1},{2},{3},{1,2} ---- # subset.

In [1]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [28]:
s = {1,2,3,4,5,5}
s.add(17)
print(s)
s.copy()
s
s.difference()
s.difference_update()
s.discard(5)
s.intersection()
s.intersection_update()
# s.disjoint()
# s.issubset()
# s.issuperset()
s.pop()
s.remove(2)
#s.symmetric_difference(3)
# s.symmetric_difference_update(2)
s.union()
# s.update()

{1, 2, 3, 4, 5, 17}

{3, 4, 17}

In [29]:
l = {1,2,3,4,5,6,7,3,4,5,6,1,2}
s = list(set(l))
s

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# New Topic
# user-defined functions-:
# Rules - not in Python (built-in function)
# Python is a case-sensitive language means (s & S are different)


# def function_name(Arguments):
#    function body
#    return/print

In [32]:
# add
# in mathematically condition, use return keyword

def add_2(a,b):
    d = a+b
    return d

In [33]:
w = 2
e = 5

add_2(w,e)

7

In [34]:
# create a new function which gives the square of the number
def sqr(a):
    c = a**2
    return c
a = 3
sqr(a)

9

In [41]:
# find length of a string
def my_len(a):
    c = len(a)
    return c

l = [1,2,3,4,5,6]
my_len("Abhishek")

8

In [39]:
# replace replicate
a = {1, 2, 3, 4, 5, 6, 7, 8, 9}

def my_rep(s, old, new):
    if old in s:
        s.remove(old)
        s.add(new)
    return s

print(my_rep(a, 3, 88))

{1, 2, 4, 5, 6, 7, 8, 9, 88}

In [42]:
c = "Abhishek"
print(my_rep(c,"A","a"))

AttributeError: 'str' object has no attribute 'remove'

In [49]:
# Q1. Create a function that counts the number of vowels in a string
# Q2. Create a function that tells the sum of all the numbers between the minimum point to maximum point.

# Q1.
def my_count(a):
    c = 0
    for i in a:
        if i in "aeiouAEIOU":
            c+=1
    return c

my_count("Abhishek")

3

In [51]:
# Q2. 
def my_sum(num):
    min_num = min(num)
    max_num = max(num)
    sum = 0
    for i in range(min_num, max_num + 1):
        sum+=i
    return sum

my_sum([1,2,3,4,5,6,7,8,9])

45

In [52]:
# Q2. 
def dis_card(a,b):
    s = ""
    for i in a:
        if i == b:
            s = s
        else:
            s = s+i
    return s

dis_card("Vishal","a")

'Vishl'

In [58]:
def dis_card_1(a,b):
    if isinstance(a,str):
        s = ""
        for i in a:
            if i == b:
                s = s
            else:
                s = s+i
        return s
    elif isinstance(a,list):
        l = []
        for i in a:
            if i != b:
                l.append(i)
        return l

l = [1,2,4,5,7,6]
dis_card_1(1,3)
dis_card_1("Abhishek","A")

'bhishek'