In [1]:
# Normal Copy -: In normal copy, if we want change in one copy then by default change another copy.
x = [2 ,4,8,4,5,8,6]
y = x
print(x)
print(y)
y[3] = "Abhisehk"
print(x)
print(y)


# Shallow Copy -: change in that copy only changes the value of that copy. it fails in nested list.
x = [2 ,4,8,4,5,8,6]
y = x.copy()
print(x)
print(y)
y[3] = "Abhishek"
print(x)
print(y)


x = [[12,23,34],[56,67,78]] # when it fails.
y = x.copy()
print(x)
print(y)
y[0][2]="Abhi"
print(x)
print(y)


# Deep Copy -: 
import copy
x = [[12,23,34],[56,67,78]]
y = copy.deepcopy(x)
print(x)
print(y)
y[0][2]="Abhi"
print(x)
print(y)

[2, 4, 8, 4, 5, 8, 6]
[2, 4, 8, 4, 5, 8, 6]
[2, 4, 8, 'Abhisehk', 5, 8, 6]
[2, 4, 8, 'Abhisehk', 5, 8, 6]
[2, 4, 8, 4, 5, 8, 6]
[2, 4, 8, 4, 5, 8, 6]
[2, 4, 8, 4, 5, 8, 6]
[2, 4, 8, 'Abhishek', 5, 8, 6]
[[12, 23, 34], [56, 67, 78]]
[[12, 23, 34], [56, 67, 78]]
[[12, 23, 'Abhi'], [56, 67, 78]]
[[12, 23, 'Abhi'], [56, 67, 78]]
[[12, 23, 34], [56, 67, 78]]
[[12, 23, 34], [56, 67, 78]]
[[12, 23, 34], [56, 67, 78]]
[[12, 23, 'Abhi'], [56, 67, 78]]

In [8]:
# List comprehension is most usefull in companies.
# Dict comprehension -:
# Q1.
double = {i:i**2 for i in range(10)} # double each value using dict comprehension
double

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [9]:
square = {i:i**2 for i in range(10)}
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [10]:
# In Dict -  fromkeys
x = ["Football","Hockey","Cricket"]
y = "Sports"
z = dict.fromkeys(x,y)
z

{'Football': 'Sports', 'Hockey': 'Sports', 'Cricket': 'Sports'}

In [11]:
# If we not given values then what happen ?
x = ["Football","Hockey","Cricket"]
z = dict.fromkeys(x)
z

{'Football': None, 'Hockey': None, 'Cricket': None}

In [15]:
key = ["one","two","three","four","five"]
value = [1,2,3,4,5]

mydict = {k:v for (k,v) in zip(key, value)}
mydict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [14]:
mydict1 = {'a':10, 'b':20, 'c':30, 'd':40, 'e':50}
mydict1 = {k:v/10 for (k,v) in mydict1.items()}
mydict1

{'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0, 'e': 5.0}

In [19]:
print("-"*100)

----------------------------------------------------------------------------------------------------

In [16]:
# LAMBDA -: Lambda is a keyword which makes annonymous function.
x = lambda a:a+10 # lambda var: expression(annonymous)
x(1000)

1010

In [17]:
z = lambda a,b,c:a+b+c
z(10,20,30)

60

In [21]:
# PEMDAS (Parenthysis, Exponent, Multiplication, Division, Addition, Substraction)
ismail=lambda a, b, c : a + b * c
ismail(7339,838,453)

386953

In [24]:
# Conditional statement in Lambda 
a = lambda x: x*2 if x%2==0 else x   # true if false
a(31)

31

In [ ]:
# MAP Function in Lambda -:  Changes 
# Syntax- map(fun, iter)
# Parameters -: fun -: it is a function to which map passes each element of the given iterable.
#              iter -: it is a iterable which is to be mapped.

In [27]:
list(map(lambda x:x+x, [1,2,3,4]))

[2, 4, 6, 8]

In [29]:
numbers1 = [1,2,3]
numbers2 = [4,5,6]
numbers3 = [1,5,9]

result = map(lambda x,y,z : x+y+z, numbers1, numbers2, numbers3)
list(result)

[6, 12, 18]

In [30]:
my_pets = ['alfred', 'tabitha', 'william', 'arla']
list(map(lambda x : x.upper(), my_pets))

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [32]:
my_string = ['a','b','c','d']
my_numbers = [1,2,3,4,5]
my_name = ['xx','yy','zz','ww','dd']

results = list(map(lambda x, y, z : (y, x+z), my_string, my_numbers, my_name))
results

[(1, 'axx'), (2, 'byy'), (3, 'czz'), (4, 'dww')]

In [33]:
# Filter -: used for extract all data.
# map -: map is used for changes in any data.
my_list = [1,5,4,6,8,11,3,12]
new_list = list(filter(lambda x: (x%2==0), my_list))
print(new_list)

li = [5,7,22,97,54,62,77,23,73,61]
final_list = list(filter(lambda x: (x%2!=0),li))
print(final_list)

[4, 6, 8, 12]
[5, 7, 97, 77, 23, 73, 61]

In [ ]:
# Benefit is one liner code in lambda.
# Loss is that, lambda is time taking.

In [1]:
# Filter with lambda.
dromes = ["demigod", "rewire", "madam", "freer", "malayalam", "kiosk"]
palindromes = list(filter(lambda a: a == a[::-1], dromes))
palindromes

['madam', 'malayalam']

In [6]:
list2 = ["one", "TWO", "three", "FOUR"]
upper = list(filter(lambda x: x.isupper(), list2))
lower = list(filter(lambda x: x.islower(), list2))

print(upper)
print(lower)
print("-"*100)

list3 = ['one', 'two2', 'three3', '88', '99', '102']
numeric = list(filter(lambda x : x.isnumeric(), list3 ))
alpha = list(filter(lambda x : x.isalpha(), list3))
alphanum = list(filter(lambda x : x.isalnum(), list3))

print(numeric)
print(alpha)
print(alphanum)

['TWO', 'FOUR']
['one', 'three']
----------------------------------------------------------------------------------------------------
['88', '99', '102']
['one']
['one', 'two2', 'three3', '88', '99', '102']

In [8]:
# Reduce -: using only two arguments and perform all program.
# when we want to use reduce function then first we need to import "from functools import reduce" 

doubles = [2,6,10,14,18]
from functools import reduce
def add(a,b):
    return a+b
sum_all = reduce(add,doubles) # reduce function will perform sum of all elements in the list.
sum_all

50

In [10]:
import operator

In [12]:
list2 = [1,2,3,4]
product = reduce (operator.mul, list2) # product of all numbers in a list2.
add = reduce (operator.add, list2) # add of all numbers in a list2.
concat_str = reduce (operator.add, ['Python', ' ', 'Rocks']) # concatenate string
prod = reduce (operator.mul, ['Hello', 3]) # Repeat a string multiple times.
min_num = reduce (lambda a, b: a if a < b else b, list2) # minimum number
max_num = reduce(lambda a, b: a if a > b else b, list2) # maximum number

print(product)
print(add)
print(concat_str)
print(prod)
print(min_num)
print(max_num)

24
10
Python Rocks
HelloHelloHello
1
4

In [15]:
# Recursion -: a function call itself inside the definition.
def sum(n):
    if n == 0:
        return 0
    else:
        return (n+sum(n-1))

sum(5)



#   n = 5
#   n + sum(n-1)
#    5 + sum(4) --------------5 + 10 = 15
#     4 + sum(3) -------------4 + 6 = 10
#      3 + sum(2) ------------3 + 3 = 6
#       2 + sum(1) -----------2 + 1 = 3
#        1 + sum(0) ----------1 + 0 = 1

15

In [17]:
# factorial 
def fact(n):
    if n == 0:
        return 1
    elif n ==1 :
        return 1
    else:
        return n*fact(n-1)

fact(6)

# n = 6
#  n*fact(n-1)
#   6*fact(5) ---------6*120
#    5*fact(4) ---------5*24
#     4*fact(3)  -------4*6
#      3*fact(2) -------3*2
#       2*fact(1) ------2*1

720

In [18]:
# Practice questions
 # Q1.
L = ['Amit','Sumit','Naina']
print(L[1:-1])

['Sumit']

In [19]:
 # Q2. 
l = ['Amit','Sumit','Naina']
print(l*2)

['Amit', 'Sumit', 'Naina', 'Amit', 'Sumit', 'Naina']

In [21]:
 # Q3.
l = ['Amit','Sumit','Naina']
print(l**2) # output is error

['Amit', 'Sumit', 'Naina', 'Amit', 'Sumit', 'Naina']

In [22]:
# Q4. 
l = [0.5 * x for x in range(4)]
print(l)

[0.0, 0.5, 1.0, 1.5]

In [26]:
# Q5. 
l = ['a'*x for x in range(4)]
print(l)

['', 'a', 'aa', 'aaa']

In [28]:
# Q6 append, extend , sort, reverse, insert - they are not return anything. and we can not write equal to any variable.
T = [1,2,3,4]
T1 = [5,6,7]
T.append(T1)
print(T)

[1, 2, 3, 4, [5, 6, 7]]

In [29]:
# Q7
l = [1,2,3,4,5,6,7,8,9,10]
print(l[l[3]])

5